In [10]:
import pandas as pd
import openpyxl
import numpy as np
import warnings
import time
warnings.filterwarnings('ignore')

**1.BASE DE DATOS KAGGLE: Importamos la base datos sobre el top 1000 películas de IMDB en junio de 2022**

URL: https://www.kaggle.com/datasets/ramjasmaurya/top-250s-in-imdb

In [13]:
movies=pd.read_csv('data/imdb_movies.csv')

In [14]:
movies.head()

,ranking of movie\r\n,movie name\r\n,Year,certificate,runtime,genre,RATING,metascore,DETAIL ABOUT MOVIE\n,DIRECTOR\r\n,ACTOR 1\n,ACTOR 2\n,ACTOR 3,ACTOR 4,votes,GROSS COLLECTION\r\n
0,1,The Shawshank Redemption,-1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314",$28.34M
1,2,The Godfather,-1972,X,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"1,798,731",$134.97M
2,3,The Dark Knight,-2008,12A,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,574,810",$534.86M
3,4,The Lord of the Rings: The Return of the King,-2003,12A,201 min,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,787,701",$377.85M
4,5,Schindler's List,-1993,15,195 min,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"1,323,776",$96.90M

Aquí vamos a cambiarle el nombre para que quede más uniforme.

In [15]:
movies.columns=['ranking', 'title', 'year', 'certificate', 'runtime', 'genre', 'rating', 'metascore', 'detail', 'director', 'actor1', 'actor2', 'actor3', 'actor4', 'votes', 'gross_colection']

In [16]:
movies.head()

,ranking,title,year,certificate,runtime,genre,rating,metascore,detail,director,actor1,actor2,actor3,actor4,votes,gross_colection
0,1,The Shawshank Redemption,-1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314",$28.34M
1,2,The Godfather,-1972,X,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"1,798,731",$134.97M
2,3,The Dark Knight,-2008,12A,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,574,810",$534.86M
3,4,The Lord of the Rings: The Return of the King,-2003,12A,201 min,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,787,701",$377.85M
4,5,Schindler's List,-1993,15,195 min,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"1,323,776",$96.90M

In [17]:
movies.shape

(1000, 16)

He pasado los datos de title a lista, para poder hacer el scraping que sigue a continuación

In [19]:
peliculas=movies['title'].tolist()

peliculas[:5]

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Lord of the Rings: The Return of the King',
 "Schindler's List"]

In [20]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ranking          1000 non-null   object
 1   title            1000 non-null   object
 2   year             1000 non-null   object
 3   certificate      995 non-null    object
 4   runtime          1000 non-null   object
 5   genre            1000 non-null   object
 6   rating           1000 non-null   float64
 7   metascore        837 non-null    float64
 8   detail           1000 non-null   object
 9   director         1000 non-null   object
 10  actor1           1000 non-null   object
 11  actor2           1000 non-null   object
 12  actor3           1000 non-null   object
 13  actor4           1000 non-null   object
 14  votes            1000 non-null   object
 15  gross_colection  820 non-null    object
dtypes: float64(2), object(14)
memory usage: 125.1+ KB

In [21]:
#%pip install selenium

In [22]:
from selenium import webdriver

In [23]:
#%pip install webdriver-manager

**2.SCRAPING: Se ha scrapeado la página web de JustWatch, como segunda fuente, para obtener las plataformas disponibles en streaming de cada una de las películas del dataframe.**

In [25]:
from selenium.webdriver.chrome.options import Options


opciones=Options()


opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)


opciones.add_argument('user-data-dir=selenium')

In [26]:
from selenium.webdriver.common.by import By 

import time

import warnings
warnings.filterwarnings('ignore')

In [27]:
from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.common.keys import Keys

In [28]:
PATH = ChromeDriverManager().install()     
driver=webdriver.Chrome(PATH)

Con la función que vemos a continuación, he conseguido sacar todas las plataformas en las que están disponibles las películas, obteniendo como resultado una lista, que he añadido al dataframe anterior.

In [29]:

def mi_funcion(x):
    try:
        
        url='https://www.justwatch.com/'
        busqueda = x

        driver=webdriver.Chrome(PATH, options=opciones)

        driver.get(url)

        time.sleep(1.5)

        elemento = driver.find_element(By.XPATH, '//*[@id="app"]/div[3]/div/div[2]/div[1]/div/ion-searchbar/div/input')
        elemento.click()

        time.sleep(1.5)


        elemento.send_keys(busqueda)

        elemento.send_keys(u'\ue007')
        time.sleep(1.5)
        elemento.send_keys(u'\ue007')

        time.sleep(1.5)


        driver.find_element(By.XPATH, '//*[@id="base"]/div[3]/div/div/div[2]/div[1]/div[1]/div[2]/a').click()
        
        time.sleep(1.5)

        a = driver.find_elements(By.XPATH, '//*[@id="base"]/div[2]/div/div[2]/div[2]/div[2]/div[1]/div[3]/div/div[2]/div[2]/div/div/a/picture/img')

        plataformas = []

        for i in a:
            
            plataformas.append(i.get_attribute('title'))

        return plataformas
    except:
        print(f"Error en la búsqueda: {x}")
        return []

In [31]:
from tqdm.notebook import tqdm

In [32]:
list_res = []

for e in tqdm(peliculas):
    try:
        res = mi_funcion(e)
        list_res.append(res)
    except:
        list_res.append("No disponible en streaming")

  0%|          | 0/1000 [00:00<?, ?it/s]

Error en la búsqueda: Rear Window
Error en la búsqueda: M
Error en la búsqueda: Chhichhore
Error en la búsqueda: Z
Error en la búsqueda: Sarfarosh
Error en la búsqueda: Farewell My Concubine
Error en la búsqueda: Sholay
Error en la búsqueda: The Imitation Game
Error en la búsqueda: Mirror
Error en la búsqueda: Young Frankenstein

In [33]:
list_res

[['HBO Max', 'Movistar Plus'],
 ['Netflix', 'Amazon Prime Video', 'HBO Max', 'Netflix basic with Ads'],
 ['HBO Max'],
 ['Amazon Prime Video', 'HBO Max'],
 ['Amazon Prime Video', 'Filmin'],
 ['Amazon Prime Video', 'HBO Max'],
 ['Filmin'],
 ['Amazon Prime Video'],
 ['Netflix', 'Movistar Plus', 'Netflix basic with Ads'],
 ['HBO Max'],
 ['Amazon Prime Video', 'HBO Max'],
 ['Amazon Prime Video', 'Disney Plus', 'Movistar Plus', 'Rakuten TV'],
 ['Amazon Prime Video', 'HBO Max'],
 ['Netflix', 'HBO Max', 'Netflix basic with Ads'],
 ['Amazon Prime Video', 'Movistar Plus', 'FlixOlé'],
 [],
 ['Amazon Video',
  'Apple iTunes',
  'Movistar Plus',
  'Rakuten TV',
  'Google Play Movies',
  'Microsoft Store',
  'Chili'],
 ['HBO Max'],
 ['Disney Plus'],
 ['Amazon Video', 'Apple iTunes', 'Rakuten TV', 'Chili', 'Google Play Movies'],
 ['Amazon Prime Video'],
 ['HBO Max', 'Tivify'],
 ['Amazon Prime Video', 'HBO Max', 'Movistar Plus', 'Tivify', 'Acontra Plus'],
 ['Netflix', 'Netflix basic with Ads'],
 ['Rakuten TV',
  'Google Play Movies',
  'Microsoft Store',
  'Amazon Video',
  'Apple iTunes',
  'Movistar Plus',
  'Chili'],
 ['Filmin', 'Starz Play Amazon Channel', 'Lionsgate Plus'],
 ['Netflix', 'HBO Max', 'Netflix basic with Ads'],
 ['HBO Max'],
 ['Amazon Prime Video', 'Tivify'],
 ['Amazon Prime Video', 'Filmin'],
 ['Disney Plus'],
 ['Amazon Prime Video', 'Filmin'],
 ['Amazon Prime Video', 'Filmin'],
 ['Amazon Prime Video', 'Filmin', 'Movistar Plus', 'Plex'],
 [],
 ['rtve'],
 ['Netflix', 'Netflix basic with Ads'],
 ['Netflix', 'Amazon Prime Video', 'HBO Max', 'Netflix basic with Ads'],
 ['Amazon Prime Video'],
 ['Amazon Prime Video'],
 ['HBO Max', 'Movistar Plus'],
 ['Apple iTunes',
  'Movistar Plus',
  'Rakuten TV',
  'Google Play Movies',
  'Microsoft Store',
  'Amazon Video'],
 ['Amazon Prime Video', 'Disney Plus', 'Filmin'],
 ['Netflix', 'Amazon Prime Video', 'Movistar Plus'],
 ['Movistar Plus', 'Tivify'],
 [],
 [],
 ['Disney Plus'],
 ['Netflix',
  'Amazon Prime Video',
  'Filmin',
  'HBO Max',
  'Acontra Plus Amazon Channel',
  'Netflix basic with Ads',
  'Acontra Plus'],
 [],
 ['Netflix', 'Amazon Prime Video', 'Filmin', 'Movistar Plus'],
 ['Filmin'],
 ['Disney Plus'],
 ['Netflix', 'Netflix basic with Ads'],
 ['Filmin'],
 [],
 ['HBO Max', 'Movistar Plus'],
 ['Movistar Plus', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Disney Plus'],
 ['Filmin'],
 ['Netflix', 'HBO Max', 'Netflix basic with Ads'],
 [],
 [],
 ['Netflix', 'Netflix basic with Ads'],
 ['Disney Plus'],
 ['Disney Plus'],
 ['Disney Plus'],
 ['Movistar Plus'],
 ['HBO Max'],
 ['Amazon Prime Video'],
 [],
 ['Amazon Prime Video'],
 ['Disney Plus'],
 [],
 ['Amazon Prime Video', 'Filmin'],
 [],
 ['HBO Max'],
 ['Netflix', 'Netflix basic with Ads'],
 ['Disney Plus'],
 ['Disney Plus'],
 ['Amazon Video', 'Apple iTunes', 'Rakuten TV', 'Chili', 'Google Play Movies'],
 ['Amazon Video',
  'Rakuten TV',
  'Google Play Movies',
  'Microsoft Store',
  'Apple iTunes',
  'Chili'],
 [],
 ['HBO Max', 'Tivify'],
 ['Filmin', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin'],
 ['Filmin', 'Movistar Plus'],
 ['Filmin'],
 ['Rakuten TV', 'Google Play Movies', 'Amazon Video', 'Apple iTunes'],
 ['Filmin', 'Movistar Plus', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 [],
 ['Movistar Plus'],
 ['Amazon Prime Video', 'Filmin'],
 [],
 [],
 ['Filmin', 'HBO Max', 'Pluto TV', 'Tivify'],
 ['Filmin', 'HBO Max', 'Pluto TV'],
 [],
 ['Movistar Plus'],
 ['Disney Plus'],
 [],
 ['Disney Plus'],
 ['Movistar Plus'],
 [],
 [],
 ['Amazon Video',
  'Google Play Movies',
  'Microsoft Store',
  'Rakuten TV',
  'Apple iTunes',
  'Movistar Plus'],
 ['Filmin', 'Rakuten TV', 'Plex'],
 ['HBO Max'],
 ['Disney Plus'],
 ['Amazon Prime Video', 'Disney Plus', 'Movistar Plus'],
 ['Amazon Prime Video',
  'Filmin',
  'HBO Max',
  'Movistar Plus',
  'Starz Play Amazon Channel',
  'Lionsgate Plus'],
 ['HBO Max'],
 ['Filmin'],
 ['Amazon Prime Video', 'Disney Plus', 'Movistar Plus'],
 ['Netflix', 'Filmin', 'Starz Play Amazon Channel', 'Lionsgate Plus'],
 ['Disney Plus'],
 ['Filmin'],
 ['HBO Max', 'Movistar Plus'],
 ['HBO Max', 'Movistar Plus'],
 ['Tivify'],
 ['Amazon Prime Video', 'Filmin'],
 ['Filmin'],
 ['Filmin', 'MGM Amazon Channel'],
 ['HBO Max', 'Movistar Plus'],
 ['Filmin'],
 [],
 ['HBO Max'],
 ['Filmin', 'FilmBox+', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Movistar Plus', 'FlixOlé', 'FlixOlé Amazon Channel', 'FilmBox+'],
 ['Filmin'],
 ['Amazon Prime Video', 'Movistar Plus', 'FlixOlé'],
 [],
 ['Filmin', 'Plex', 'FilmBox+', 'Classix'],
 ['Filmin', 'FilmBox+', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 [],
 ['Netflix', 'Amazon Prime Video', 'HBO Max', 'Netflix basic with Ads'],
 [],
 [],
 [],
 ['Amazon Prime Video'],
 ['Netflix',
  'Amazon Prime Video',
  'Filmin',
  'HBO Max',
  'Netflix basic with Ads',
  'Tivify'],
 [],
 [],
 [],
 [],
 ['Disney Plus'],
 [],
 [],
 ['Amazon Prime Video', 'Disney Plus', 'HBO Max', 'FlixOlé'],
 ['Movistar Plus'],
 ['Amazon Prime Video', 'Filmin', 'Tivify'],
 ['Amazon Prime Video'],
 [],
 [],
 ['Amazon Video', 'Google Play Movies', 'Apple iTunes', 'Movistar Plus'],
 ['Netflix'],
 ['Movistar Plus'],
 ['Filmin'],
 ['Rakuten TV',
  'Google Play Movies',
  'Apple iTunes',
  'Movistar Plus',
  'Amazon Video',
  'Chili'],
 ['Disney Plus', 'HBO Max'],
 ['HBO Max'],
 ['Amazon Prime Video', 'HBO Max'],
 [],
 ['Netflix', 'Netflix basic with Ads'],
 ['Amazon Prime Video'],
 [],
 ['Disney Plus'],
 ['Disney Plus'],
 ['Amazon Prime Video', 'Filmin', 'Movistar Plus', 'Rakuten TV'],
 ['Rakuten TV',
  'Google Play Movies',
  'Amazon Video',
  'Apple iTunes',
  'Movistar Plus',
  'Chili'],
 ['Amazon Prime Video', 'Rakuten TV'],
 [],
 [],
 ['Amazon Prime Video', 'Movistar Plus'],
 ['HBO Max'],
 ['Rakuten TV',
  'Google Play Movies',
  'Microsoft Store',
  'Apple iTunes',
  'Movistar Plus',
  'Chili'],
 ['Disney Plus'],
 ['Filmin'],
 ['Filmin'],
 ['Amazon Prime Video', 'Filmin'],
 ['Amazon Prime Video', 'Filmin'],
 ['Movistar Plus'],
 [],
 ['Amazon Prime Video', 'Filmin', 'Movistar Plus', 'Acontra Plus'],
 ['Filmin'],
 [],
 [],
 ['Amazon Prime Video', 'Filmin', 'Movistar Plus', 'MGM Amazon Channel'],
 ['Filmin', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin', 'MGM Amazon Channel'],
 ['Rakuten TV', 'Apple iTunes', 'Movistar Plus', 'Amazon Video'],
 ['Apple iTunes',
  'Movistar Plus',
  'Rakuten TV',
  'Google Play Movies',
  'Amazon Video'],
 ['Filmin', 'FilmBox+'],
 ['Amazon Prime Video',
  'Filmin',
  'Acontra Plus Amazon Channel',
  'Acontra Plus'],
 ['Movistar Plus', 'FlixOlé', 'FlixOlé Amazon Channel', 'Tivify'],
 ['Filmin', 'Plex', 'FilmBox+'],
 ['Apple iTunes', 'Rakuten TV', 'Amazon Video'],
 ['Apple iTunes', 'Rakuten TV', 'Google Play Movies', 'Amazon Video'],
 ['Filmin'],
 ['HBO Max'],
 ['Filmin'],
 ['Amazon Prime Video',
  'Filmin',
  'MUBI',
  'Plex',
  'MUBI Amazon Channel',
  'FilmBox+',
  'Classix'],
 ['Filmin',
  'Movistar Plus',
  'Plex',
  'Acontra Plus Amazon Channel',
  'Acontra Plus'],
 [],
 ['Amazon Prime Video'],
 [],
 [],
 [],
 ['Disney Plus'],
 [],
 [],
 ['Filmin'],
 [],
 [],
 [],
 [],
 ['Disney Plus'],
 ['Rakuten TV',
  'Microsoft Store',
  'Apple iTunes',
  'Google Play Movies',
  'Amazon Video'],
 ['Netflix',
  'Amazon Prime Video',
  'HBO Max',
  'rtve',
  'Netflix basic with Ads',
  'Tivify'],
 ['Amazon Prime Video', 'Filmin'],
 [],
 [],
 ['Disney Plus'],
 ['Amazon Prime Video', 'Disney Plus', 'Movistar Plus', 'Tivify'],
 [],
 ['Amazon Prime Video', 'Filmin', 'Movistar Plus'],
 [],
 ['Amazon Prime Video', 'Filmin', 'Movistar Plus'],
 ['Movistar Plus', 'Rakuten TV'],
 ['Disney Plus'],
 ['Filmin', 'HBO Max', 'Tivify'],
 [],
 [],
 [],
 ['Disney Plus'],
 ['Apple iTunes', 'Rakuten TV', 'Google Play Movies', 'Amazon Video'],
 ['Amazon Prime Video', 'HBO Max'],
 [],
 ['HBO Max'],
 ['HBO Max'],
 ['Amazon Prime Video',
  'Filmin',
  'Movistar Plus',
  'FlixOlé',
  'Pluto TV',
  'FlixOlé Amazon Channel'],
 [],
 ['Netflix', 'Amazon Prime Video', 'Netflix basic with Ads'],
 [],
 ['Amazon Prime Video'],
 [],
 ['Amazon Prime Video', 'Movistar Plus', 'rtve'],
 [],
 ['Disney Plus'],
 ['HBO Max'],
 [],
 [],
 [],
 [],
 ['Disney Plus'],
 [],
 ['Netflix', 'Amazon Prime Video', 'Netflix basic with Ads'],
 [],
 ['Amazon Prime Video', 'Filmin', 'Movistar Plus', 'Pluto TV'],
 [],
 [],
 ['Disney Plus'],
 [],
 [],
 ['Rakuten TV', 'Google Play Movies', 'Amazon Video'],
 ['Netflix', 'Amazon Prime Video', 'Filmin', 'Tivify'],
 ['Rakuten TV',
  'Google Play Movies',
  'Microsoft Store',
  'Amazon Video',
  'Apple iTunes',
  'Movistar Plus',
  'Chili'],
 [],
 [],
 [],
 [],
 ['HBO Max'],
 ['Filmin', 'Movistar Plus'],
 ['Netflix', 'Filmin', 'Movistar Plus'],
 ['Filmin'],
 [],
 [],
 ['Filmin', 'Movistar Plus'],
 ['Disney Plus'],
 ['Netflix', 'Netflix basic with Ads'],
 [],
 ['Filmin', 'MGM Amazon Channel'],
 [],
 ['Amazon Prime Video', 'Filmin'],
 ['Netflix', 'Netflix basic with Ads'],
 ['Filmin',
  'HBO Max',
  'Movistar Plus',
  'Acontra Plus Amazon Channel',
  'Acontra Plus'],
 [],
 ['Filmin'],
 ['Filmin', 'HBO Max', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin', 'Movistar Plus'],
 ['Amazon Prime Video'],
 ['Filmin'],
 [],
 [],
 ['Netflix', 'Amazon Prime Video', 'Filmin', 'Movistar Plus'],
 ['Apple iTunes', 'Movistar Plus', 'Rakuten TV', 'Amazon Video'],
 ['Rakuten TV', 'Apple iTunes', 'Amazon Video'],
 ['Amazon Prime Video'],
 [],
 ['Apple iTunes', 'Rakuten TV', 'Amazon Video'],
 ['Filmin', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Disney Plus'],
 ['Apple iTunes'],
 ['Filmin'],
 ['Filmin', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin'],
 ['Amazon Prime Video', 'Filmin'],
 ['HBO Max', 'Movistar Plus'],
 ['Filmin', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin'],
 ['Filmin', 'FilmBox+', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Amazon Prime Video', 'Filmin'],
 ['Filmin'],
 ['Plex', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin'],
 ['Apple iTunes', 'Amazon Video'],
 ['Amazon Prime Video', 'Filmin', 'Pluto TV', 'Tivify'],
 ['Amazon Prime Video', 'Filmin', 'Movistar Plus', 'FlixOlé', 'Pluto TV'],
 ['Filmin'],
 ['Apple iTunes', 'Google Play Movies', 'Amazon Video'],
 [],
 [],
 ['HBO Max', 'Tivify'],
 ['Rakuten TV', 'Apple iTunes', 'Amazon Video'],
 ['Filmin'],
 ['Filmin'],
 [],
 ['Filmin', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin', 'Pluto TV', 'FilmBox+', 'Classix'],
 [],
 [],
 ['Netflix', 'Amazon Prime Video', 'Netflix basic with Ads'],
 ['Amazon Prime Video', 'HBO Max', 'Movistar Plus'],
 ['Apple iTunes', 'Amazon Video', 'Google Play Movies'],
 ['Disney Plus'],
 ['Filmin'],
 ['Disney Plus'],
 ['Disney Plus'],
 ['Filmin'],
 [],
 ['Netflix', 'Netflix basic with Ads'],
 [],
 [],
 ['Disney Plus'],
 ['Amazon Prime Video', 'Filmin'],
 ['Netflix',
  'HBO Max',
  'Starz Play Amazon Channel',
  'Lionsgate Plus',
  'Netflix basic with Ads'],
 ['Amazon Prime Video', 'Filmin'],
 ['Amazon Prime Video', 'Disney Plus'],
 ['Amazon Prime Video',
  'Filmin',
  'Movistar Plus',
  'Starz Play Amazon Channel',
  'Lionsgate Plus'],
 ['Filmin', 'Movistar Plus', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Amazon Prime Video', 'Disney Plus', 'Filmin'],
 ['Disney Plus'],
 ['HBO Max'],
 [],
 ['HBO Max'],
 [],
 ['Movistar Plus'],
 [],
 ['Disney Plus'],
 ['Movistar Plus', 'Starz Play Amazon Channel', 'Lionsgate Plus'],
 ['Disney Plus'],
 ['Amazon Prime Video', 'Filmin'],
 [],
 ['Movistar Plus'],
 ['Apple iTunes',
  'Movistar Plus',
  'Rakuten TV',
  'Google Play Movies',
  'Amazon Video'],
 ['Amazon Prime Video', 'HBO Max'],
 ['Filmin'],
 ['HBO Max', 'Movistar Plus'],
 ['Amazon Prime Video', 'Filmin'],
 [],
 [],
 ['Amazon Prime Video'],
 [],
 [],
 ['Amazon Prime Video', 'Disney Plus', 'HBO Max', 'FlixOlé'],
 ['Disney Plus'],
 [],
 [],
 ['Disney Plus'],
 ['Amazon Prime Video'],
 ['Filmin'],
 [],
 ['Amazon Prime Video'],
 ['HBO Max', 'Movistar Plus'],
 [],
 ['Filmin'],
 [],
 [],
 [],
 [],
 ['Filmin', 'Movistar Plus'],
 ['Apple iTunes'],
 ['Filmin', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin'],
 [],
 ['Filmin', 'Movistar Plus'],
 [],
 ['Amazon Prime Video', 'Filmin'],
 ['Disney Plus'],
 ['Rakuten TV', 'Pluto TV'],
 ['Disney Plus'],
 ['Filmin', 'Movistar Plus', 'Tivify'],
 ['Filmin', 'MGM Amazon Channel'],
 [],
 ['Amazon Prime Video', 'Filmin', 'Movistar Plus'],
 ['Amazon Prime Video', 'Filmin'],
 ['Filmin', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Netflix', 'Netflix basic with Ads'],
 ['Amazon Prime Video'],
 ['Netflix', 'Netflix basic with Ads'],
 ['Filmin', 'FilmBox+'],
 [],
 ['Filmin', 'Plex'],
 ['Netflix', 'Filmin', 'Netflix basic with Ads'],
 ['Filmin'],
 ['Filmin', 'MGM Amazon Channel'],
 ['Apple iTunes',
  'Movistar Plus',
  'Rakuten TV',
  'Google Play Movies',
  'Amazon Video'],
 [],
 [],
 [],
 ['Filmin', 'HBO Max', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin', 'FilmBox+'],
 ['Amazon Prime Video', 'Filmin'],
 [],
 ['Filmin', 'MGM Amazon Channel'],
 ['Disney Plus'],
 ['Filmin'],
 ['Disney Plus'],
 ['Amazon Prime Video', 'Filmin'],
 ['Amazon Prime Video', 'Filmin'],
 ['Apple iTunes', 'Rakuten TV', 'Google Play Movies', 'Amazon Video'],
 ['Filmin', 'FilmBox+'],
 [],
 ['Amazon Prime Video',
  'Filmin',
  'Movistar Plus',
  'Acontra Plus Amazon Channel',
  'Tivify',
  'Acontra Plus'],
 ['FlixOlé', 'FlixOlé Amazon Channel', 'FilmBox+'],
 ['Apple iTunes', 'Rakuten TV', 'Google Play Movies', 'Amazon Video'],
 ['Filmin'],
 ['Filmin'],
 ['Apple iTunes', 'Rakuten TV', 'Google Play Movies'],
 ['FlixOlé', 'FlixOlé Amazon Channel', 'FilmBox+'],
 ['Apple iTunes', 'Movistar Plus', 'Google Play Movies', 'Amazon Video'],
 [],
 ['Filmin'],
 ['Amazon Prime Video', 'Filmin'],
 [],
 ['Filmin'],
 ['Filmin'],
 [],
 ['Rakuten TV',
  'Google Play Movies',
  'Amazon Video',
  'Apple iTunes',
  'Movistar Plus'],
 [],
 ['Filmin', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['FlixOlé', 'FlixOlé Amazon Channel'],
 ['Amazon Prime Video', 'Filmin', 'Movistar Plus', 'FilmBox+'],
 [],
 ['Amazon Prime Video', 'Filmin', 'FlixOlé', 'Pluto TV', 'Tivify'],
 ['Apple iTunes', 'Rakuten TV', 'Amazon Video'],
 ['Filmin', 'FilmBox+', 'Classix'],
 ['Filmin', 'Classix'],
 ['Netflix', 'Amazon Prime Video', 'HBO Max', 'Netflix basic with Ads'],
 ['Filmin', 'HBO Max'],
 [],
 [],
 [],
 [],
 [],
 [],
 ['Netflix',
  'Starz Play Amazon Channel',
  'Lionsgate Plus',
  'Netflix basic with Ads'],
 ['Amazon Prime Video', 'Filmin'],
 ['Disney Plus'],
 ['Disney Plus'],
 ['Netflix', 'HBO Max', 'Starz Play Amazon Channel', 'Lionsgate Plus'],
 ['Movistar Plus'],
 [],
 [],
 ['Netflix', 'Netflix basic with Ads'],
 ['Amazon Prime Video', 'Filmin', 'Rakuten TV', 'Acontra Plus'],
 ['Disney Plus'],
 ['HBO Max'],
 ['Disney Plus'],
 ['Filmin'],
 ['Amazon Prime Video', 'Filmin', 'HBO Max', 'Acontra Plus'],
 ['Amazon Prime Video', 'HBO Max', 'Tivify'],
 ['Filmin', 'HBO Max', 'Pluto TV'],
 ['Filmin', 'Pluto TV'],
 [],
 [],
 [],
 ['Amazon Prime Video', 'Filmin', 'Movistar Plus'],
 ['Rakuten TV', 'Apple iTunes', 'Movistar Plus', 'Amazon Video'],
 ['Filmin', 'FlixOlé', 'Pluto TV', 'FlixOlé Amazon Channel'],
 [],
 ['Movistar Plus'],
 [],
 ['Filmin'],
 ['Rakuten TV',
  'Google Play Movies',
  'Microsoft Store',
  'Amazon Video',
  'Apple iTunes',
  'Movistar Plus'],
 ['Amazon Prime Video', 'Filmin', 'Tivify'],
 ['Starz Play Amazon Channel', 'Lionsgate Plus'],
 [],
 ['Apple iTunes', 'Movistar Plus', 'Google Play Movies', 'Amazon Video'],
 ['Disney Plus'],
 ['Disney Plus', 'Movistar Plus'],
 ['Filmin'],
 ['Amazon Prime Video', 'Acontra Plus'],
 [],
 ['Netflix',
  'Amazon Prime Video',
  'Disney Plus',
  'HBO Max',
  'Netflix basic with Ads'],
 ['Apple iTunes', 'Rakuten TV', 'Google Play Movies', 'Microsoft Store'],
 [],
 [],
 ['Amazon Prime Video'],
 ['HBO Max'],
 [],
 [],
 ['Disney Plus'],
 ['Amazon Prime Video', 'HBO Max'],
 ['Filmin'],
 ['Amazon Prime Video'],
 ['Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Filmin'],
 ['Filmin'],
 ['Amazon Prime Video', 'Filmin', 'Movistar Plus'],
 ['Netflix', 'Amazon Prime Video', 'HBO Max', 'Movistar Plus'],
 ['Disney Plus'],
 ['Amazon Video',
  'Apple iTunes',
  'Rakuten TV',
  'Google Play Movies',
  'Microsoft Store'],
 [],
 ['Apple iTunes', 'Rakuten TV', 'Google Play Movies', 'Amazon Video'],
 ['Netflix', 'Netflix basic with Ads'],
 ['Amazon Prime Video', 'Movistar Plus'],
 ['Amazon Prime Video', 'Filmin', 'FlixOlé'],
 ['Amazon Prime Video', 'Filmin'],
 ['Filmin', 'Movistar Plus'],
 ['Disney Plus'],
 ['Amazon Prime Video',
  'Filmin',
  'Starz Play Amazon Channel',
  'Lionsgate Plus'],
 [],
 ['Disney Plus'],
 ['Filmin', 'Movistar Plus', 'FlixOlé', 'Pluto TV'],
 ['Amazon Prime Video', 'Filmin'],
 ['Rakuten TV', 'Google Play Movies', 'Amazon Video', 'Apple iTunes', 'Chili'],
 ['Filmin', 'MUBI', 'MUBI Amazon Channel'],
 ['Filmin', 'Movistar Plus', 'MGM Amazon Channel'],
 ['Disney Plus', 'Movistar Plus', 'Pluto TV'],
 [],
 ['Apple iTunes', 'Google Play Movies', 'Amazon Video'],
 ['Amazon Prime Video', 'Movistar Plus'],
 [],
 ['Filmin'],
 ['Disney Plus'],
 ['Apple iTunes', 'Rakuten TV', 'Amazon Video'],
 [],
 ['Movistar Plus'],
 ['Apple iTunes', 'Amazon Video'],
 ['Apple iTunes'],
 ['Classix'],
 ['Filmin'],
 ['Filmin'],
 ['Filmin'],
 ['HBO Max'],
 ['Amazon Prime Video', 'Movistar Plus', 'FlixOlé'],
 ['Amazon Prime Video',
  'Filmin',
  'Rakuten TV',
  'MUBI',
  'Plex',
  'Pluto TV',
  'MUBI Amazon Channel',
  'FilmBox+',
  'Classix'],
 ['Filmin'],
 ['Rakuten TV', 'Google Play Movies', 'Apple iTunes'],
 [],
 ['Filmin'],
 ['Filmin'],
 ['Rakuten TV', 'Google Play Movies', 'Apple iTunes', 'Amazon Video'],
 ['Apple iTunes', 'Rakuten TV', 'Google Play Movies', 'Amazon Video'],
 ['Google Play Movies', 'Microsoft Store', 'Apple iTunes'],
 ['Apple iTunes', 'Movistar Plus', 'Rakuten TV', 'Amazon Video'],
 ['Apple iTunes', 'Rakuten TV', 'Google Play Movies', 'Amazon Video'],
 ['Amazon Prime Video', 'Filmin'],
 ['Apple iTunes', 'Google Play Movies', 'Amazon Video'],
 ['Filmin'],
 ['Disney Plus'],
 [],
 ['Apple iTunes', 'Google Play Movies', 'Amazon Video'],
 ['Disney Plus'],
 ['Filmin'],
 ['Amazon Prime Video'],
 ['Apple iTunes', 'Rakuten TV', 'Amazon Video'],
 [],
 ['Filmin', 'Movistar Plus'],
 ['Filmin'],
 ['Amazon Prime Video', 'Filmin'],
 ['Amazon Prime Video', 'Filmin'],
 ['Movistar Plus'],
 ['Amazon Prime Video', 'Movistar Plus'],
 ['Filmin', 'Plex', 'Pluto TV', 'Cultpix', 'FilmBox+', 'Classix'],
 ['HBO Max', 'Tivify'],
 ['Amazon Prime Video'],
 [],
 ['Amazon Prime Video', 'HBO Max'],
 ['Amazon Prime Video', 'Filmin'],
 ['Disney Plus'],
 ['Amazon Prime Video', 'HBO Max'],
 ['Apple iTunes',
  'Movistar Plus',
  'Rakuten TV',
  'Google Play Movies',
  'Microsoft Store',
  'Amazon Video'],
 ['Rakuten TV', 'Movistar Plus', 'Amazon Video'],
 ['HBO Max'],
 ['Amazon Prime Video'],
 ['Amazon Prime Video', 'Filmin', 'Acontra Plus'],
 ['Disney Plus'],
 ['Netflix', 'Amazon Prime Video', 'HBO Max', 'Netflix basic with Ads'],
 ['Disney Plus'],
 ['Netflix', 'HBO Max', 'Netflix basic with Ads'],
 ['Amazon Prime Video', 'HBO Max', 'Tivify'],
 ['Amazon Prime Video', 'Filmin'],
 ['Netflix', 'Amazon Prime Video', 'Movistar Plus'],
 ['Amazon Prime Video'],
 ['Disney Plus'],
 ['Filmin'],
 [],
 ['Disney Plus'],
 ['Movistar Plus', 'Starz Play Amazon Channel', 'Lionsgate Plus'],
 [],
 ['Amazon Prime Video', 'Filmin', 'Rakuten TV', 'Pluto TV'],
 ['Disney Plus'],
 ['Filmin'],
 [],
 ['Netflix', 'Amazon Prime Video', 'HBO Max', 'Movistar Plus'],
 ['Amazon Prime Video', 'Disney Plus', 'Movistar Plus'],
 [],
 ['Amazon Prime Video'],
 ['Netflix', 'Netflix basic with Ads'],
 ['Rakuten TV', 'Apple iTunes', 'Google Play Movies', 'Amazon Video'],
 [],
 ['Amazon Video',
  'Google Play Movies',
  'Microsoft Store',
  'Rakuten TV',
  'Apple iTunes',
  'Movistar Plus'],
 ['Filmin', 'Movistar Plus', 'Acontra Plus Amazon Channel', 'Acontra Plus'],
 ['Amazon Prime Video'],

Con la función que vemos a continuación, si hay información sobre la plataforma se añade, y si la lista está vacía, significa que dichas plataformas no estan disponibles

In [34]:
list_of_strings = list(map(lambda x: ', '.join(x) if len(x) > 0 else "No disponible en streaming", list_res))
movies['streaming_services'] = list_of_strings

In [43]:
movies.head()

,ranking,title,year,certificate,runtime,genre,rating,metascore,detail,director,actor1,actor2,actor3,actor4,votes,gross_colection,streaming_services
0,1,The Shawshank Redemption,-1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314",$28.34M,"HBO Max, Movistar Plus"
1,2,The Godfather,-1972,X,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"1,798,731",$134.97M,"Netflix, Amazon Prime Video, HBO Max, Netflix ..."
2,3,The Dark Knight,-2008,12A,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,574,810",$534.86M,HBO Max
3,4,The Lord of the Rings: The Return of the King,-2003,12A,201 min,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,787,701",$377.85M,"Amazon Prime Video, HBO Max"
4,5,Schindler's List,-1993,15,195 min,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"1,323,776",$96.90M,"Amazon Prime Video, Filmin"

Aquí guardo el dataframe, para no perder los datos.

In [116]:
movies.to_csv('moviesimdb.csv', index=False)

In [117]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ranking             1000 non-null   object
 1   title               1000 non-null   object
 2   year                1000 non-null   object
 3   certificate         1000 non-null   object
 4   runtime             1000 non-null   object
 5   genre               1000 non-null   object
 6   rating              1000 non-null   float64
 7   metascore           837 non-null    float64
 8   detail              1000 non-null   object
 9   director            1000 non-null   object
 10  actor1              1000 non-null   object
 11  actor2              1000 non-null   object
 12  actor3              1000 non-null   object
 13  actor4              1000 non-null   object
 14  votes               1000 non-null   object
 15  streaming_services  1000 non-null   object
dtypes: float64(2), object(14)
memory usage: 125.1+ KB

In [121]:
movies=pd.read_csv('data/moviesimdb.csv')

In [122]:
movies.head()

,ranking,title,year,certificate,runtime,genre,rating,metascore,detail,director,actor1,actor2,actor3,actor4,votes,streaming_services
0,1,The Shawshank Redemption,1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314","HBO Max, Movistar Plus"
1,2,The Godfather,1972,Adult,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"1,798,731","Netflix, Amazon Prime Video, HBO Max, Netflix ..."
2,3,The Dark Knight,2008,12,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,574,810",HBO Max
3,4,The Lord of the Rings: The Return of the King,2003,12,201 min,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,787,701","Amazon Prime Video, HBO Max"
4,5,Schindler's List,1993,15,195 min,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"1,323,776","Amazon Prime Video, Filmin"

Limpieza de datos, para que quede todo uniforme.

In [107]:
movies.certificate.unique()
movies['certificate'].replace(['X', '18', 'A', 'AA'], 'Adult', inplace=True)
movies['certificate'].replace(['U', 'All', 'UA'], 'All', inplace=True)
movies['certificate'].replace(['12A', '12'], '12', inplace=True)
movies['certificate'].replace(['UA 13+'], '13', inplace=True)

In [108]:
movies.head()

,ranking,title,year,certificate,runtime,genre,rating,metascore,detail,director,actor1,actor2,actor3,actor4,votes,streaming_services
0,1,The Shawshank Redemption,-1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314","HBO Max, Movistar Plus"
1,2,The Godfather,-1972,Adult,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"1,798,731","Netflix, Amazon Prime Video, HBO Max, Netflix ..."
2,3,The Dark Knight,-2008,12,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,574,810",HBO Max
3,4,The Lord of the Rings: The Return of the King,-2003,12,201 min,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,787,701","Amazon Prime Video, HBO Max"
4,5,Schindler's List,-1993,15,195 min,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"1,323,776","Amazon Prime Video, Filmin"

In [109]:
movies['certificate'].fillna('Not Rated', inplace=True)

In [115]:
movies.year.unique()

array(['1994', '1972', '2008', '2003', '1993', '1974', '1957', '2021',
       '2010', '2002', '1999', '2001', '1966', '2020', '1990', '1980',
       '1975', '2022', '2014', '1998', '1997', '1995', '1991', '1977',
       '1962', '1954', '1946', '2019', '2011', '2006', '2000', '1988',
       '1985', '1979', '1968', '1960', '1942', '1936', '1931', '2018',
       '(I)', '(II)', '2016', '2012', '2009', '1986', '1984', '1981',
       '1963', '1964', '1950', '1940', '2017', '2013', '2007', '2004',
       '1992', '1987', '1983', '1973', '1971', '1961', '1959', '1958',
       '1955', '1952', '1948', '1944', '1941', '1927', '1921', '2015',
       '2005', '1989', '1982', '1976', '1969', '1965', '1953', '1939',
       '1928', '1926', '1925', '1924', '(III)', '1996', '1978', '1967',
       '1951', '1949', '1937', '1934', '1930', '1956', '1947', '1945',
       '1920', '1970', '1943', '1938', '1933', '1932', '1922', '1935'],
      dtype=object)

In [123]:
movies.head()

,ranking,title,year,certificate,runtime,genre,rating,metascore,detail,director,actor1,actor2,actor3,actor4,votes,streaming_services
0,1,The Shawshank Redemption,1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314","HBO Max, Movistar Plus"
1,2,The Godfather,1972,Adult,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"1,798,731","Netflix, Amazon Prime Video, HBO Max, Netflix ..."
2,3,The Dark Knight,2008,12,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,574,810",HBO Max
3,4,The Lord of the Rings: The Return of the King,2003,12,201 min,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,787,701","Amazon Prime Video, HBO Max"
4,5,Schindler's List,1993,15,195 min,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"1,323,776","Amazon Prime Video, Filmin"

He hecho una copia del dataframe, ya que al limpiar la columna year, tuve problemas y preferí asegurarme de no perder los datos originales.

In [124]:
moviess=movies.copy()

In [127]:
moviess.head()

,ranking,title,year,certificate,runtime,genre,rating,metascore,detail,director,actor1,actor2,actor3,actor4,votes,streaming_services
0,1,The Shawshank Redemption,1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314","HBO Max, Movistar Plus"
1,2,The Godfather,1972,Adult,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"1,798,731","Netflix, Amazon Prime Video, HBO Max, Netflix ..."
2,3,The Dark Knight,2008,12,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,574,810",HBO Max
3,4,The Lord of the Rings: The Return of the King,2003,12,201 min,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,787,701","Amazon Prime Video, HBO Max"
4,5,Schindler's List,1993,15,195 min,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"1,323,776","Amazon Prime Video, Filmin"

In [130]:
moviess.year.unique()

array(['1994', '1972', '2008', '2003', '1993', '1974', '1957', '2021',
       '2010', '2002', '1999', '2001', '1966', '2020', '1990', '1980',
       '1975', '2022', '2014', '1998', '1997', '1995', '1991', '1977',
       '1962', '1954', '1946', '2019', '2011', '2006', '2000', '1988',
       '1985', '1979', '1968', '1960', '1942', '1936', '1931', '2018',
       '(I)', '(II)', '2016', '2012', '2009', '1986', '1984', '1981',
       '1963', '1964', '1950', '1940', '2017', '2013', '2007', '2004',
       '1992', '1987', '1983', '1973', '1971', '1961', '1959', '1958',
       '1955', '1952', '1948', '1944', '1941', '1927', '1921', '2015',
       '2005', '1989', '1982', '1976', '1969', '1965', '1953', '1939',
       '1928', '1926', '1925', '1924', '(III)', '1996', '1978', '1967',
       '1951', '1949', '1937', '1934', '1930', '1956', '1947', '1945',
       '1920', '1970', '1943', '1938', '1933', '1932', '1922', '1935'],
      dtype=object)

In [133]:
movies=pd.read_csv('data/imdb_movies.csv')

In [198]:
movies.Year.unique()

array(['-1994', '-1972', '-2008', '-2003', '-1993', '-1974', '-1957',
       '-2021', '-2010', '-2002', '-1999', '-2001', '-1966', '-2020',
       '-1990', '-1980', '-1975', '-2022', '-2014', '-1998', '-1997',
       '-1995', '-1991', '-1977', '-1962', '-1954', '-1946', '-2019',
       '-2011', '-2006', '-2000', '-1988', '-1985', '-1979', '-1968',
       '-1960', '-1942', '-1936', '-1931', '-2018', '(I) (2019)',
       '(II) (2018)', '-2016', '(I) (2017)', '-2012', '-2009', '-1986',
       '-1984', '-1981', '-1963', '-1964', '-1950', '-1940', '-2017',
       '-2013', '-2007', '-2004', '-1992', '-1987', '-1983', '-1973',
       '-1971', '-1961', '-1959', '-1958', '-1955', '-1952', '-1948',
       '-1944', '-1941', '-1927', '-1921', '-2015', '(I) (2015)',
       '(I) (2020)', '-2005', '-1989', '-1982', '-1976', '-1969', '-1965',
       '-1953', '-1939', '-1928', '-1926', '-1925', '-1924',
       '(III) (2016)', '(I) (2013)', '-1996', '-1978', '-1967', '-1951',
       '-1949', '-1937', '-1934', '-1930', '(I) (2014)', '(I) (2004)',
       '-1956', '-1947', '-1945', '-1920', '(II) (2016)', '(I) (2011)',
       '(I) (2001)', '-1970', '-1943', '-1938', '-1933', '-1932', '-1922',
       '(I) (2010)', '(I) (2008)', '(I) (2007)', '-1935', '(I) (1995)',
       '(III) (2018)', '(I) (2016)', '(II) (2015)', '(I) (1985)'],
      dtype=object)

In [199]:
moviess['year'] = movies['Year']

In [200]:
moviess.year.unique()

array(['-1994', '-1972', '-2008', '-2003', '-1993', '-1974', '-1957',
       '-2021', '-2010', '-2002', '-1999', '-2001', '-1966', '-2020',
       '-1990', '-1980', '-1975', '-2022', '-2014', '-1998', '-1997',
       '-1995', '-1991', '-1977', '-1962', '-1954', '-1946', '-2019',
       '-2011', '-2006', '-2000', '-1988', '-1985', '-1979', '-1968',
       '-1960', '-1942', '-1936', '-1931', '-2018', '(I) (2019)',
       '(II) (2018)', '-2016', '(I) (2017)', '-2012', '-2009', '-1986',
       '-1984', '-1981', '-1963', '-1964', '-1950', '-1940', '-2017',
       '-2013', '-2007', '-2004', '-1992', '-1987', '-1983', '-1973',
       '-1971', '-1961', '-1959', '-1958', '-1955', '-1952', '-1948',
       '-1944', '-1941', '-1927', '-1921', '-2015', '(I) (2015)',
       '(I) (2020)', '-2005', '-1989', '-1982', '-1976', '-1969', '-1965',
       '-1953', '-1939', '-1928', '-1926', '-1925', '-1924',
       '(III) (2016)', '(I) (2013)', '-1996', '-1978', '-1967', '-1951',
       '-1949', '-1937', '-1934', '-1930', '(I) (2014)', '(I) (2004)',
       '-1956', '-1947', '-1945', '-1920', '(II) (2016)', '(I) (2011)',
       '(I) (2001)', '-1970', '-1943', '-1938', '-1933', '-1932', '-1922',
       '(I) (2010)', '(I) (2008)', '(I) (2007)', '-1935', '(I) (1995)',
       '(III) (2018)', '(I) (2016)', '(II) (2015)', '(I) (1985)'],
      dtype=object)

In [201]:
moviess['year']=moviess['year'].str.replace('-', '')

In [202]:
moviess.year.unique()

array(['1994', '1972', '2008', '2003', '1993', '1974', '1957', '2021',
       '2010', '2002', '1999', '2001', '1966', '2020', '1990', '1980',
       '1975', '2022', '2014', '1998', '1997', '1995', '1991', '1977',
       '1962', '1954', '1946', '2019', '2011', '2006', '2000', '1988',
       '1985', '1979', '1968', '1960', '1942', '1936', '1931', '2018',
       '(I) (2019)', '(II) (2018)', '2016', '(I) (2017)', '2012', '2009',
       '1986', '1984', '1981', '1963', '1964', '1950', '1940', '2017',
       '2013', '2007', '2004', '1992', '1987', '1983', '1973', '1971',
       '1961', '1959', '1958', '1955', '1952', '1948', '1944', '1941',
       '1927', '1921', '2015', '(I) (2015)', '(I) (2020)', '2005', '1989',
       '1982', '1976', '1969', '1965', '1953', '1939', '1928', '1926',
       '1925', '1924', '(III) (2016)', '(I) (2013)', '1996', '1978',
       '1967', '1951', '1949', '1937', '1934', '1930', '(I) (2014)',
       '(I) (2004)', '1956', '1947', '1945', '1920', '(II) (2016)',
       '(I) (2011)', '(I) (2001)', '1970', '1943', '1938', '1933', '1932',
       '1922', '(I) (2010)', '(I) (2008)', '(I) (2007)', '1935',
       '(I) (1995)', '(III) (2018)', '(I) (2016)', '(II) (2015)',
       '(I) (1985)'], dtype=object)

In [203]:
list_mov= moviess.year.tolist()

In [214]:
new_years = []
for year in list_mov:
    match = re.search(r'\((?:[IVXLCDM]+\s)?(\d+)\)', year)
    if match:
        new_years.append(match.group(1))
    else:
        new_years.append(year)

new_years[:5]

['1994', '1972', '2008', '2003', '1993']

In [206]:
moviess['year'] = new_years

In [207]:
moviess.year.unique()

array(['1994', '1972', '2008', '2003', '1993', '1974', '1957', '2021',
       '2010', '2002', '1999', '2001', '1966', '2020', '1990', '1980',
       '1975', '2022', '2014', '1998', '1997', '1995', '1991', '1977',
       '1962', '1954', '1946', '2019', '2011', '2006', '2000', '1988',
       '1985', '1979', '1968', '1960', '1942', '1936', '1931', '2018',
       '2016', '2017', '2012', '2009', '1986', '1984', '1981', '1963',
       '1964', '1950', '1940', '2013', '2007', '2004', '1992', '1987',
       '1983', '1973', '1971', '1961', '1959', '1958', '1955', '1952',
       '1948', '1944', '1941', '1927', '1921', '2015', '2005', '1989',
       '1982', '1976', '1969', '1965', '1953', '1939', '1928', '1926',
       '1925', '1924', '1996', '1978', '1967', '1951', '1949', '1937',
       '1934', '1930', '1956', '1947', '1945', '1920', '1970', '1943',
       '1938', '1933', '1932', '1922', '1935'], dtype=object)

In [216]:
moviess.year.unique()

array(['1994', '1972', '2008', '2003', '1993', '1974', '1957', '2021',
       '2010', '2002', '1999', '2001', '1966', '2020', '1990', '1980',
       '1975', '2022', '2014', '1998', '1997', '1995', '1991', '1977',
       '1962', '1954', '1946', '2019', '2011', '2006', '2000', '1988',
       '1985', '1979', '1968', '1960', '1942', '1936', '1931', '2018',
       '2016', '2017', '2012', '2009', '1986', '1984', '1981', '1963',
       '1964', '1950', '1940', '2013', '2007', '2004', '1992', '1987',
       '1983', '1973', '1971', '1961', '1959', '1958', '1955', '1952',
       '1948', '1944', '1941', '1927', '1921', '2015', '2005', '1989',
       '1982', '1976', '1969', '1965', '1953', '1939', '1928', '1926',
       '1925', '1924', '1996', '1978', '1967', '1951', '1949', '1937',
       '1934', '1930', '1956', '1947', '1945', '1920', '1970', '1943',
       '1938', '1933', '1932', '1922', '1935'], dtype=object)

In [217]:
moviess['year'] = moviess['year'].astype(int)

In [219]:
moviess.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ranking             1000 non-null   object
 1   title               1000 non-null   object
 2   year                1000 non-null   int64
 3   certificate         1000 non-null   object
 4   runtime             1000 non-null   object
 5   genre               1000 non-null   object
 6   rating              1000 non-null   float64
 7   metascore           837 non-null    float64
 8   detail              1000 non-null   object
 9   director            1000 non-null   object
 10  actor1              1000 non-null   object
 11  actor2              1000 non-null   object
 12  actor3              1000 non-null   object
 13  actor4              1000 non-null   object
 14  votes               1000 non-null   object
 15  streaming_services  1000 non-null   object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [224]:
movie=moviess.copy()

In [252]:
movie.head()

,ranking,title,year,certificate,runtime,genre,rating,metascore,detail,director,actor1,actor2,actor3,actor4,votes,streaming_services,title_clean
0,1,The Shawshank Redemption,1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314","HBO Max, Movistar Plus",the shawshank redemption
1,2,The Godfather,1972,Adult,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,"1,798,731","Netflix, Amazon Prime Video, HBO Max, Netflix ...",the godfather
2,3,The Dark Knight,2008,12,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"2,574,810",HBO Max,the dark knight
3,4,The Lord of the Rings: The Return of the King,2003,12,201 min,"Action, Adventure, Drama",9.0,94.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"1,787,701","Amazon Prime Video, HBO Max",the lord of the rings: the return of the king
4,5,Schindler's List,1993,15,195 min,"Biography, Drama, History",9.0,94.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,"1,323,776","Amazon Prime Video, Filmin",schindler's list

A conitnuación, voy a eliminar la columna metascrore, ya que proximamente haré una comparativa de estas peliculas, con las notas que tienen en filmaffinitty.

In [268]:
movie = movie.drop("metascore", axis=1)

In [270]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ranking             1000 non-null   object
 1   title               1000 non-null   object
 2   year                1000 non-null   int64
 3   certificate         1000 non-null   object
 4   runtime             1000 non-null   object
 5   genre               1000 non-null   object
 6   rating              1000 non-null   float64
 7   detail              1000 non-null   object
 8   director            1000 non-null   object
 9   actor1              1000 non-null   object
 10  actor2              1000 non-null   object
 11  actor3              1000 non-null   object
 12  actor4              1000 non-null   object
 13  votes               1000 non-null   object
 14  streaming_services  1000 non-null   object
 15  title_clean         1000 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 125.1+ KB

In [271]:
movie.to_csv('moviesimdb2.csv', index=False) #Este sería el csv final, limpio y preparado.

**3.BASE DE DATOS ZENODO: Para la tercera fuente de información, se ha importado un csv de zenodo con 119003 películas de filmaffinitty.**

URL: https://zenodo.org/record/4249401#.Y-f6A9LMJkg

In [253]:
film=pd.read_csv('/data/filmaf.csv')

In [272]:
film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119003 entries, 0 to 119002
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  119003 non-null  int64
 1   Título      119003 non-null  object
 2   Año         119003 non-null  int64
 3   País        119003 non-null  object
 4   Dirección   118202 non-null  object
 5   Reparto     94525 non-null   object
 6   Nota        119003 non-null  object
 7   Tipo filme  119003 non-null  object
 8   Género      119003 non-null  object
dtypes: int64(2), object(7)
memory usage: 8.2+ MB

In [273]:
film.head()

,Unnamed: 0,Título,Año,País,Dirección,Reparto,Nota,Tipo filme,Género
0,0,'49-'17,1917,Estados Unidos,Ruth Ann Baldwin,"Joseph W. Girard, Leo Pierson, William Dyer, M...",--,Película,Western
1,1,"10,000 Years B.C. (C)",1916,Estados Unidos,Willis H. O'Brien,NaN,"5,1",Cortometraje,Comedia
2,2,1812,1912,Rusia,"Vasili Goncharov, Kai Hansen, Aleksandr Uralsky","Pavel Knorr, Vasili Goncharov, Aleksandra Gonc...",--,Película,Drama
3,3,20.000 leguas de viaje submarino (C),1907,Francia,Georges Méliès,Georges Méliès,"6,0",Cortometraje,Fantástico
4,4,A Bad Case (C),1909,Francia,Émile Cohl,NaN,"5,3",Cortometraje,Comedia

A continuación he decidido unir ambas bases de datos, para obtener finalmente una única tabla, comparando la nota de filmaffinitty y la de IMDB, e incluir tambien el país de origen de la pelicula.
Para ello, he tenido que seguir los siguientes pasos:

1. Voy a renombrar las columnas, para que coincidan perfectamente en ambos dataframes.

In [274]:
film.rename(columns={'Dirección': 'director'}, inplace=True)
film.rename(columns={'Año': 'year'}, inplace=True)

In [275]:
film.head()

,Unnamed: 0,Título,year,País,director,Reparto,Nota,Tipo filme,Género
0,0,'49-'17,1917,Estados Unidos,Ruth Ann Baldwin,"Joseph W. Girard, Leo Pierson, William Dyer, M...",--,Película,Western
1,1,"10,000 Years B.C. (C)",1916,Estados Unidos,Willis H. O'Brien,NaN,"5,1",Cortometraje,Comedia
2,2,1812,1912,Rusia,"Vasili Goncharov, Kai Hansen, Aleksandr Uralsky","Pavel Knorr, Vasili Goncharov, Aleksandra Gonc...",--,Película,Drama
3,3,20.000 leguas de viaje submarino (C),1907,Francia,Georges Méliès,Georges Méliès,"6,0",Cortometraje,Fantástico
4,4,A Bad Case (C),1909,Francia,Émile Cohl,NaN,"5,3",Cortometraje,Comedia

In [276]:
film.rename(columns={'País': 'country'}, inplace=True)

2. A continuación voy a mergear ambos dataframes, por las columnas director y año, ya que es donde puede haber una coincidencia real.

In [277]:
merged_df = pd.merge(movie, film, on=['director', 'year'])

In [279]:
merged_df.head()

,ranking,title,year,certificate,runtime,genre,rating,detail,director,actor1,...,votes,streaming_services,title_clean,Unnamed: 0,Título,country,Reparto,Nota,Tipo filme,Género
0,1,The Shawshank Redemption,1994,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,...,"2,603,314","HBO Max, Movistar Plus",the shawshank redemption,47226,Cadena perpetua,Estados Unidos,"Tim Robbins, Morgan Freeman, Bob Gunton, James...","8,6",Película,Drama
1,2,The Godfather,1972,Adult,175 min,"Crime, Drama",9.2,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Marlon Brando,...,"1,798,731","Netflix, Amazon Prime Video, HBO Max, Netflix ...",the godfather,28878,El padrino,Estados Unidos,"Marlon Brando, Al Pacino, James Caan, Robert D...","9,0",Película,Drama
2,3,The Dark Knight,2008,12,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,...,"2,574,810",HBO Max,the dark knight,76097,El caballero oscuro,Estados Unidos,"Christian Bale, Heath Ledger, Aaron Eckhart, M...","8,1",Película,"Acción, Drama, Thriller"
3,4,The Lord of the Rings: The Return of the King,2003,12,201 min,"Action, Adventure, Drama",9.0,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,Elijah Wood,...,"1,787,701","Amazon Prime Video, HBO Max",the lord of the rings: the return of the king,77054,El señor de los anillos: El retorno del rey,Nueva Zelanda,"Elijah Wood, Viggo Mortensen, Ian McKellen, Se...","8,2",Película,"Acción, Aventuras, Fantástico"
4,5,Schindler's List,1993,15,195 min,"Biography, Drama, History",9.0,"In German-occupied Poland during World War II,...",Steven Spielberg,Liam Neeson,...,"1,323,776","Amazon Prime Video, Filmin",schindler's list,57631,La lista de Schindler,Estados Unidos,"Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...","8,6",Película,Drama

Al investigar esta tabla, me dí cuenta que habia varias peliculas, que coincidian tanto en director como en año, por tanto tuve que filtrar por actores y reparto para que me diera una comparación más exacta.

In [287]:
filtro = []
for index, row in merged_df.iterrows():
    
    try:
        if row["actor1"] in row["Reparto"] and (row["actor2"] in row["Reparto"]):
            filtro.append(row)
        
    except:
        continue
top_movies= pd.DataFrame(filtro)

In [288]:
top_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 741 entries, 0 to 1022
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ranking             741 non-null    object
 1   title               741 non-null    object
 2   year                741 non-null    int64
 3   certificate         741 non-null    object
 4   runtime             741 non-null    object
 5   genre               741 non-null    object
 6   rating              741 non-null    float64
 7   detail              741 non-null    object
 8   director            741 non-null    object
 9   actor1              741 non-null    object
 10  actor2              741 non-null    object
 11  actor3              741 non-null    object
 12  actor4              741 non-null    object
 13  votes               741 non-null    object
 14  streaming_services  741 non-null    object
 15  title_clean         741 non-null    object
 16  Unnamed: 0          741 non-null    int64
 17  Título              741 non-null    object
 18  country             741 non-null    object
 19  Reparto             741 non-null    object
 20  Nota                741 non-null    object
 21  Tipo filme          741 non-null    object
 22  Género              741 non-null    object
dtypes: float64(1), int64(2), object(20)
memory usage: 138.9+ KB

Aquí me di cuenta que si ponía solo dos actores, era posible que no fuera muy exacta la comparación, y saberlo era complicado, ya que existía la posbilidad de ambos actores estuviesen en la misma pelicula varias veces, por tanto decidí añadir los 4 actores en la comparación, y el resultado fue el siguiente:

In [293]:
filtered_rows = []
for index, row in merged_df.iterrows():
    
    try:
        if row["actor1"] in row["Reparto"] and (row["actor2"] in row["Reparto"]) and (row["actor3"] in row["Reparto"]) and (row["actor4"] in row["Reparto"]):
            filtered_rows.append(row)
        
    except:
        continue
movies_final= pd.DataFrame(filtered_rows)

In [294]:
movies_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 618 entries, 0 to 1022
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ranking             618 non-null    object
 1   title               618 non-null    object
 2   year                618 non-null    int64
 3   certificate         618 non-null    object
 4   runtime             618 non-null    object
 5   genre               618 non-null    object
 6   rating              618 non-null    float64
 7   detail              618 non-null    object
 8   director            618 non-null    object
 9   actor1              618 non-null    object
 10  actor2              618 non-null    object
 11  actor3              618 non-null    object
 12  actor4              618 non-null    object
 13  votes               618 non-null    object
 14  streaming_services  618 non-null    object
 15  title_clean         618 non-null    object
 16  Unnamed: 0          618 non-null    int64
 17  Título              618 non-null    object
 18  country             618 non-null    object
 19  Reparto             618 non-null    object
 20  Nota                618 non-null    object
 21  Tipo filme          618 non-null    object
 22  Género              618 non-null    object
dtypes: float64(1), int64(2), object(20)
memory usage: 115.9+ KB

Finalmente, de 1000 peliculas decidí quedarme con 618, y saber con precisión que la comparación de ambos dataframes era exacta.
A continuación, procedo a la limpieza de la tabla final.

In [297]:
movies_final = movies_final.rename(columns={'Título': 'spanish_title', 'Reparto': 'Actors', 'rating': 'rating_imdb', 'Nota': 'rating_filmaffinitty'})

In [316]:
mov= movies_final[['ranking','title', 'spanish_title', 'year', 'genre', 'certificate', 'detail','director','Actors','country', 'rating_imdb','rating_filmaffinitty', 'streaming_services' ]]

In [318]:
mov = mov.rename(columns={'Actors': 'actors'})

In [319]:
mov.head()

,ranking,title,spanish_title,year,genre,certificate,detail,director,actors,country,rating_imdb,rating_filmaffinitty,streaming_services
0,1,The Shawshank Redemption,Cadena perpetua,1994,Drama,15,Two imprisoned men bond over a number of years...,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, James...",Estados Unidos,9.3,"8,6","HBO Max, Movistar Plus"
1,2,The Godfather,El padrino,1972,"Crime, Drama",Adult,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Robert D...",Estados Unidos,9.2,"9,0","Netflix, Amazon Prime Video, HBO Max, Netflix ..."
2,3,The Dark Knight,El caballero oscuro,2008,"Action, Crime, Drama",12,When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",Estados Unidos,9.0,"8,1",HBO Max
3,4,The Lord of the Rings: The Return of the King,El señor de los anillos: El retorno del rey,2003,"Action, Adventure, Drama",12,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Se...",Nueva Zelanda,9.0,"8,2","Amazon Prime Video, HBO Max"
4,5,Schindler's List,La lista de Schindler,1993,"Biography, Drama, History",15,"In German-occupied Poland during World War II,...",Steven Spielberg,"Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",Estados Unidos,9.0,"8,6","Amazon Prime Video, Filmin"

In [306]:
mov.country.unique()

array(['Estados Unidos', 'Nueva Zelanda', 'Italia', 'Japón',
       'Reino Unido', 'Francia', 'Alemania', 'India', 'Dinamarca',
       'Argentina', 'Turquía', 'España', 'Corea del Sur', 'Estonia',
       'del Oeste (RFA)', 'Suecia', 'Australia', 'Brasil', 'México',
       'Irlanda', 'Indonesia', 'Austria', 'Rumanía', 'Canadá',
       'a y Herzegovina', 'Irán', 'Bajos (Holanda)', 'Rusia'],
      dtype=object)

Vamos a reemplazar los países que están en español, por sus abreviaturas en inglés para tener un dataframe uniforme.

In [320]:
replace_c = {
    'Estados Unidos': 'USA',
    'Nueva Zelanda': 'NZ',
    'Italia': 'IT',
    'Japón': 'JP',
    'Reino Unido': 'UK',
    'Francia': 'FR',
    'Alemania': 'DE',
    'India': 'IN',
    'Dinamarca': 'DK',
    'Argentina': 'AR',
    'Turquía': 'TR',
    'España': 'ES',
    'Corea del Sur': 'KR',
    'Estonia': 'EE',
    'del Oeste (RFA)': 'West Germany',
    'Suecia': 'SE',
    'Australia': 'AU',
    'Brasil': 'BR',
    'México': 'MX',
    'Irlanda': 'IE',
    'Indonesia': 'ID',
    'Austria': 'AT',
    'Rumanía': 'RO',
    'Canadá': 'CA',
    'a y Herzegovina': 'BA',
    'Irán': 'IR',
    'Bajos (Holanda)': 'NL',
    'Rusia': 'RU'
}

mov['country'] = mov['country'].replace(replace_c)

In [321]:
mov.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 618 entries, 0 to 1022
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ranking               618 non-null    object
 1   title                 618 non-null    object
 2   spanish_title         618 non-null    object
 3   year                  618 non-null    int64
 4   genre                 618 non-null    object
 5   certificate           618 non-null    object
 6   detail                618 non-null    object
 7   director              618 non-null    object
 8   actors                618 non-null    object
 9   country               618 non-null    object
 10  rating_imdb           618 non-null    float64
 11  rating_filmaffinitty  618 non-null    object
 12  streaming_services    618 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 67.6+ KB

Reseteamos el ranking según nota de IMDB, ya que se han eliminado algunas filas.

In [326]:
mov = mov.sort_values(by='rating_imdb', ascending=False)

In [332]:
mov = mov.reset_index(drop=True)
mov['ranking'] = range(1, len(df) + 1)

In [334]:
mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618 entries, 0 to 617
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ranking               618 non-null    int64
 1   title                 618 non-null    object
 2   spanish_title         618 non-null    object
 3   year                  618 non-null    int64
 4   genre                 618 non-null    object
 5   certificate           618 non-null    object
 6   detail                618 non-null    object
 7   director              618 non-null    object
 8   actors                618 non-null    object
 9   country               618 non-null    object
 10  rating_imdb           618 non-null    float64
 11  rating_filmaffinitty  618 non-null    object
 12  streaming_services    618 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 62.9+ KB

Intenté convertir la columna rating_filmaffinitty en float también, pero no es posible ya que algunas peliculas no tienen ninguna nota.

In [339]:
mov.rating_filmaffinitty.unique()

array(['8,6', '9,0', '8,1', '8,2', '8,9', '8,7', '8,0', '8,4', '7,8',
       '7,9', '8,5', '7,5', '7,6', '8,3', '7,4', '7,7', '7,3', '7,0',
       '7,2', '6,9', '6,5', '7,1', '6,1', '6,4', '--', '6,2', '6,8',
       '6,7', '6,6', '5,7', '6,3', '6,0', '5,4', '5,9'], dtype=object)

In [340]:
mov['rating_filmaffinitty'].replace('--', 'NR', inplace=True)

In [341]:
mov.rating_filmaffinitty.unique()

array(['8,6', '9,0', '8,1', '8,2', '8,9', '8,7', '8,0', '8,4', '7,8',
       '7,9', '8,5', '7,5', '7,6', '8,3', '7,4', '7,7', '7,3', '7,0',
       '7,2', '6,9', '6,5', '7,1', '6,1', '6,4', 'NR', '6,2', '6,8',
       '6,7', '6,6', '5,7', '6,3', '6,0', '5,4', '5,9'], dtype=object)

In [349]:
mov['rating_filmaffinitty'] = mov['rating_filmaffinitty'].str.replace(',', '.')

In [350]:
mov.head()

,ranking,title,spanish_title,year,genre,certificate,detail,director,actors,country,rating_imdb,rating_filmaffinitty,streaming_services
0,1,The Shawshank Redemption,Cadena perpetua,1994,Drama,15,Two imprisoned men bond over a number of years...,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, James...",USA,9.3,8.6,"HBO Max, Movistar Plus"
1,2,The Godfather,El padrino,1972,"Crime, Drama",Adult,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Robert D...",USA,9.2,9.0,"Netflix, Amazon Prime Video, HBO Max, Netflix ..."
2,3,The Dark Knight,El caballero oscuro,2008,"Action, Crime, Drama",12,When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",USA,9.0,8.1,HBO Max
3,4,The Lord of the Rings: The Return of the King,El señor de los anillos: El retorno del rey,2003,"Action, Adventure, Drama",12,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Se...",NZ,9.0,8.2,"Amazon Prime Video, HBO Max"
4,5,Schindler's List,La lista de Schindler,1993,"Biography, Drama, History",15,"In German-occupied Poland during World War II,...",Steven Spielberg,"Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",USA,9.0,8.6,"Amazon Prime Video, Filmin"

**4. Exportamos la tabla a la base de datos movies en SQL**

In [355]:
from sqlalchemy import create_engine

str_conn = 'mysql+pymysql://root:3164@localhost:3306'

cursor = create_engine(str_conn)

cursor.execute('drop database if exists movies;')

cursor.execute('create database movies;')

In [356]:
str_conn = 'mysql+pymysql://root:3164@localhost:3306/movies'

cursor = create_engine(str_conn)

In [357]:
mov.to_sql(name='top_movies', con=cursor, if_exists='replace', index=False)

618